<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745257287690-r3sfb5020plha3naugs6777rv6aht0ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745257287690-r3sfb5020plha3naugs6777rv6aht0ce</string>
	<key>API_KEY</key>
	<string>AIzaSyAo5JE5USw9Lyto1jsy17jAij4UVRyuoDE</string>
	<key>GCM_SENDER_ID</key>
	<string>745257287690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kompot</string>
	<key>PROJECT_ID</key>
	<string>kompot-13c90</string>
	<key>STORAGE_BUCKET</key>
	<string>kompot-13c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745257287690:ios:7f56c700230195897f1ff3</string>
</dict>
</plist>